{% load static %}

<div class="hot-deal-products off-white-bg pb-90 pb-sm-50">
    <div class="container">
       <div class="post-title pb-30">
           <h2>Новые поступления</h2>
       </div>
        <div class="hot-deal-active owl-carousel">
            <div class="single-product">
                <div class="pro-img">
                    <a href="{% comment "" %}{% url 'product_page'%}{% endcomment %}">
                        <img class="primary-img" src="{% static 'img/products/1.jpg' %}" alt="single-product">
                        <img class="secondary-img" src="{% static 'img/products/7.jpg' %}" alt="single-product">
                    </a>
                    <div class="countdown" data-countdown="2020/03/01"></div>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="{% comment "" %}{% url 'product_page'%}{% endcomment %}">Poly and Bark Vortex Side</a></h4>
                        <p><span class="price">$84.45</span><del class="prev-price">$105.50</del></p>
                        <div class="label-product l_sale">20<span class="symbol-percent">%</span></div>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="{% url 'cart_page'%}" title="Add to Cart"> + Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
            </div>
            {% comment "" %}<div class="single-product">
                <div class="pro-img">
                    <a href="{% url 'product_page'%}l">
                        <img class="primary-img" src="{% static 'img/products/24.jpg' %}" alt="single-product">
                        <img class="secondary-img" src="{% static 'img/products/25.jpg' %}" alt="single-product">
                    </a>
                    <div class="countdown" data-countdown="2020/03/01"></div>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="{% url 'product_page'%}">Light Inverted Pendant Quick</a></h4>
                        <p><span class="price">$84.45</span><del class="prev-price">$105.50</del></p>
                        <div class="label-product l_sale">20<span class="symbol-percent">%</span></div>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="{% url 'cart_page'%}" title="Add to Cart">+ Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-product">
                <div class="pro-img">
                    <a href="{% url 'product_page'%}">
                        <img class="primary-img" src="{% static 'img/products/42.jpg' %}" alt="single-product">
                        <img class="secondary-img" src="{% static 'img/products/43.jpg' %}" alt="single-product">
                    </a>
                    <div class="countdown" data-countdown="2020/03/01"></div>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="{% url 'product_page'%}">Terra Xpress HE Cooking </a></h4>
                        <p><span class="price">$84.45</span><del class="prev-price">$105.50</del></p>
                        <div class="label-product l_sale">15<span class="symbol-percent">%</span></div>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="{% url '_page'%}" title="Add to Cart">+ Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <span class="sticker-new">new</span>
            </div>
            <div class="single-product">
                <div class="pro-img">
                    <a href="{% url 'product_page'%}">
                        <img class="primary-img" src="{% static 'img/products/30.jpg' %}" alt="single-product">
                        <img class="secondary-img" src="{% static 'img/products/31.jpg' %}" alt="single-product">
                    </a>
                    <div class="countdown" data-countdown="2020/03/01"></div>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="{% url 'product_page'%}">Calandiva Wrapped 12cm</a></h4>
                        <p><span class="price">$84.45</span><del class="prev-price">$105.50</del></p>
                        <div class="label-product l_sale">20<span class="symbol-percent">%</span></div>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="{% url 'bascket_page'%}" title="Add to Cart">+ Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-product">
                <div class="pro-img">
                    <a href="{% url 'product_page'%}">
                        <img class="primary-img" src="{% static 'img/products/8.jpg' %}" alt="single-product">
                        <img class="secondary-img" src="{% static 'img/products/9.jpg' %}" alt="single-product">
                    </a>
                    <div class="countdown" data-countdown="2020/03/01"></div>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="{% url 'product_page'%}">Gpoly and Bark Eames Styl...</a></h4>
                        <p><span class="price">$84.45</span><del class="prev-price">$105.50</del></p>
                        <div class="label-product l_sale">10<span class="symbol-percent">%</span></div>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="{% url 'bascket_page'%}" title="Add to Cart">+ Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <span class="sticker-new">new</span>
            </div>
            <div class="single-product">
                <div class="pro-img">
                    <a href="{% url 'product_page'%}">
                        <img class="primary-img" src="{% static 'img/products/10.jpg' %}" alt="single-product">
                        <img class="secondary-img" src="{% static 'img/products/11.jpg' %}" alt="single-product">
                    </a>
                    <div class="countdown" data-countdown="2020/03/01"></div>
                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                </div>
                <div class="pro-content">
                    <div class="pro-info">
                        <h4><a href="{% url 'product_page'%}">Poly and Bark Vortex Side</a></h4>
                        <p><span class="price">$84.45</span><del class="prev-price">$105.50</del></p>
                        <div class="label-product l_sale">37<span class="symbol-percent">%</span></div>
                    </div>
                    <div class="pro-actions">
                        <div class="actions-primary">
                            <a href="{% url 'bascket_page'%}" title="Add to Cart">+ Add To Cart</a>
                        </div>
                        <div class="actions-secondary">
                            <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                            <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                        </div>
                    </div>
                </div>
                <span class="sticker-new">new</span>
            </div>{% endcomment %}
        </div>

    </div>
</div>