{% load static %}
<div class="about-us pt-100 pt-sm-60">
    <div class="container">
        <div class="row">
            
                <div class="about-desc">
                    <h3 class="mb-10 about-title">Оплата и Доставка</h3>
                    <h5>Почтой по РБ.</h5>
                    <p class="mb-20">Доставка осуществляется по всей территории республики Беларусь наложенным платежом, отправлением "бандероль" (оплата при получении + комиссия почты за перевод денег). Комиссия почты определяется следующим образом :<br />
                        - до 150 бел.руб. комиссия составит 3%<br />
                        - от 150 до 300 бел.руб комиссия составит 2%<br />
                        - от 300 до 500 бел.руб комиссия составит 1%<br />
                        - от 500 бел.руб и выше комиссия составит 0.5% <br />
                        
                        При заказе на сумму до 90 бел.рублей. доставка платная(5 бел.рублей.)<br />
                        При заказе на сумму свыше 90 бел.рублей. доставка бесплатная !!!<br />
                        Пример: При заказе на 90 бел.рублей. ваш товар обойдётся вам в итоге (90+2 руб.70 копеек ) = 92.70 , 
                        При оплате EasyPay или Visa/MasterCard вы получаете товар на почте, предъявив удостоверение личности. Все заказы, полученные нами до 15:00, мы отправляем в этот же день, после согласования по указанному вами мобильному телефону.
                        Заказы, полученные после 15:00, отправляются на следующий день в такой же последовательности. Срок доставки 3-4 дня.  Кассовый чек, выданный вам на почте, является подтверждающим документом совершения сделки, и все права потребителей республики Беларусь поддерживаются в полном объёме.</p>
                    <h5>Почтой EMS</h5>
                    <p class="mb-20">Посылка доставляется курьером домой на следующий день после отправки с почты.<br />
                        Стоимость 10 бел.рублей независимо от суммы заказа</p>
                    <h5>Европочтой по РБ</h5>
                    <p class="mb-20">С услугами и тарифами можно ознакомиться :https://evropochta.by/calc/</p>
                    </div>
            
        </div>
    </div>
</div>