{% load static %}
<div class="cart-main-area ptb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">          
                <div class="table-content table-responsive mb-45">
                    <table>
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Картинка</th>
                                <th class="product-name">Наименование</th>
                                <th class="product-price">Цена</th>
                                <th class="product-quantity">Колличество</th>
                                <th class="product-subtotal">Всего</th>
                                <th class="product-remove">Удалить</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for el in cart %}
                                {% with product=el.product %}
                            <tr>
                                <td class="product-thumbnail">
                                    {% if el.products.img %}
                                    <a href="#"><img src="{{el.products.img.url}}" alt="cart-image" /></a>
                                    {% else %}
                                    <a href="#"><img src="{% static 'img/products/13.jpg' %}" alt="cart-image" /></a>
                                    {% endif %}
                                    </td>
                                    <td class="product-name"><a href="#">{{el.products.product_name}}</a></td>
                                    <td class="product-price"><span class="amount">{{el.price}}</span></td>
                                <td class="product-quantity">
                                     <form action="{% url 'cart_add' el.products.id %}" method="post">                                         
                                            {{ el.update_quantity_form.quantity }}
                                            {{ el.update_quantity_form.update}}
                                            <input type="submit" value="Обновить">
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td class="product-subtotal">{{el.total_price}}</td>
                                <td class="product-remove"> <a href="{% url 'cart_remove' el.products.id %}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="buttons-cart">
                            {% comment "" %}<input type="submit" value="Update Cart" />{% endcomment %}
                            <a href="{% if request.META.HTTP_REFERER %}{{request.META.HTTP_REFERER}}
                                    {% else %}{%url 'home_page' %}{% endif %}">Продолжить покупки</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="cart_totals float-md-right text-md-right">
                            <h2>Корзина</h2>
                            <br />
                            <table class="float-md-right">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Всего в корзине</th>
                                        <td>
                                            <span class="amount">{{amount}} товаров</span>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>К оплате</th>
                                        <td>
                                            <strong><span class="amount">{{cart.get_total_price}} BYN</span></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="wc-proceed-to-checkout">
                                <a href="{% url 'checkout_page' %}">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>