<div class="popup_wrapper">
    <div class="test">
        <span class="popup_off">Закрыть</span>
        <div class="subscribe_area text-center mt-60">
            <h2>Новости</h2>
            <p>Подпишитесь на нашу рассылку, чтобы получать информацию о новых поступлениях, специальных предложениях и скидках.</p>
            <div class="subscribe-form-group">
                <form action="#">
                    <input autocomplete="off" type="text" name="message" id="message" placeholder="Enter your email address">
                    <button type="submit">Подписаться!</button>
                </form>
            </div>
            <div class="subscribe-bottom mt-15">
                <input type="checkbox" id="newsletter-permission">
                <label for="newsletter-permission">Больше не показывать это сообщение</label>
            </div>
        </div>
    </div>
</div>