<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="{% url 'home_page' %}">Главная</a></li>
                <li><a href="{% comment "" %}{% url 'group_page' %}{% endcomment %}">Удилища</a></li>
                <li ><a href="{% comment %}{% url 'manufacturer_page'%}{% endcomment %}">Произодитель</a></li>
                <li class="active"><a href="{% url 'products_page'%}">Mikado</a></li>
            </ul>
        </div>
    </div>
</div>